
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  }

  button svg{
    width: 10px;
    height: 20px;
  }

  .container{
    width: 100%;
    margin: 0 auto;
}
  button {
  
      background-color: rgb(103, 103, 239);
      border: none;
      padding: 5px 10px;
      border-radius: 3px;
      align-items: center;
      justify-content: center;
      cursor: pointer;

}
button.disabled{
  background-color: #474747;
  cursor: no-drop;
}


input {
  height: 30px;
  width: 50px;
  text-align: center;
  border: 1px solid #242424;
  border-radius: 3px;
  cursor: pointer;
}

/*---------------------MEDIA QUERIES--------------------------------------*/
@media (max-width:480px) {
    .flexPaginacion{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
      justify-content:space-around;
      gap: 8px;
     margin-top:10px;
     margin-right:15px;
    
    
  }
  .container{
    
    margin: 0;
 }
  }
  @media (max-width:384px) {
    .flexPaginacion{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    
  }
  .container{
   width: 100%;
   margin-right:30px
  
 }
.liStyles{
    padding: 5px;
    font-size: 15px;
}
  }


  @media (min-width:768px) {
    .flexPaginacion{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
      justify-content:space-around;
      gap: 10px;
     margin-top: 10px;
  }
}