body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("./components/img/vista.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
}

.title{
  font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    color: white;
}

.title--activo,
.title:hover{
    color: rgba(243, 101, 40, 0.716);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
